@charset "UTF-8";

@font-face {
    font-family: 'font-fogo';
    src: url(../fires/FIRES\ PERSONAL\ USE.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

header {
    background-color: #a10b0b;
    height: 80px; 
    text-align: center;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header > div#menu{
    display: flex;
    justify-content:center;
    align-items:center;
    
}
@media(max-width:700px){
    .barra{flex-direction: column;}
}

.itens{
    display: flex;
}


.titulo{
    display: flex;
    align-items:center;
    justify-items: center;
    font-family: 'font-fogo';
    font-size: 2.5em;
    padding-left: 10px;
    text-align: center;

}

ul{
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding-right: 10px;
    
}

a:hover{
    color: black;
    font-weight: bolder ;
    transition: 1s;
}

body{
   
    width: 100vw;
    height:100vh ;
}

main{
    background:url(../Imagens/bomb.capa02.jpg)no-repeat;
    background-position:left center ;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.login{
    position: relative;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

fieldset{
    text-align: center;
    text-align: center;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 100%;    
}

input {
    height: 30px;
    width: 200px;
}

p > a{
    color:rgb(6, 6, 247);
    font-weight: bolder;
    text-decoration: none;
}

p > a:hover{
    text-decoration: underline;
}

p{
    margin: 10px;
}

::placeholder{
    text-align: center;
}

.botao{
    background-color: #a50f0fb2;
    font-weight: bolder;
    width: 350px;
    color: white ;
}

.botao:hover{
    background-color: red;
    color: black;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: center;
    color: white;
}

    legend {
        color: white;
        font-weight: bolder;
    }

.enviar{
    background-color: black;
    color: white;
    font-weight: bolder;
}

.enviar:hover{
    background-color: red;
    color: black;
}
   