@charset "UTF-8";

@font-face {
    font-family: 'font-fogo';
    src: url(../fires/FIRES\ PERSONAL\ USE.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}

header {
    background-color: #a10b0b;
    text-align: center;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header > div#menu{
    display: flex;
    justify-content:center;
    align-items:center;
    
}
@media(max-width:700px){
    .barra{flex-direction: column;}
}

.itens{
    display: flex;
}


.titulo{
    display: flex;
    align-items:center;
    justify-items: center;
    font-family: 'font-fogo';
    font-size: 2.5em;
    padding-left: 10px;
    text-align: center;

}

ul{
    list-style: none;
}

li > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    margin: 10px;
    padding-right: 10px;
    
}

a:hover{
    color: black;
    font-weight: bolder ;
    transition: 1s;
}

body{
   
    width: 100vw;
    height:100vh ;
}

.pg-princ {
    background-color:#a10b0b;
    background:url(../Imagens/img-bomb.jpg) no-repeat;
    background-position:top right  ;
    background-size:cover;
    width: 100vw;
    height: 100vh;
}

h2{
    text-align: center;
    color: white;
    padding-top: 20px;
}

.texto{
    width: 400px;
    text-align: justify;
    color: white;
    text-indent: 30px;
    padding: 10px;
    
}

p{
    color: white;
    padding: 10px;
    margin: 10px;
}

#bt{
    border-radius: 20px;
    padding: 10px;
    background-color:black;
    text-decoration: none;
    color:white ;
    font-weight: bolder;
}

#bt:hover{
    background-color: white;
    background-color:;
    color: black;
}

#cadastro{
    background-image: linear-gradient(to top, white, brown);
    background-position:center ;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

fieldset{
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    height: 50%;    
}

form > p{
    color:black
}

input {
    height: 30px;
    width: 200px;
}

p > a:hover{
    text-decoration: underline;
}


::placeholder{
    text-align: center;
}

.botao{
    background-color: #a50f0fb2;
    font-weight: bolder;
    color: white;
}

.botao:hover{
    background-color: red;
    color: black;
}



    legend {
        color: black;
        font-weight: bolder;
    }

.enviar{
    background-color: black;
    color: white;
    font-weight: bolder;
}

.enviar:hover{
    background-color: red;
    color: black;
}

.informe{
    background-color: rgba(128, 128, 128, 0.349);
    border-radius: 20px;
    text-align: justify;
}

.informe > p {
    color: black;
    font-weight: bolder;
}

footer{
    background-color: black;
    color: white;
}

#footerp{
    margin: 0px;
    color: white;
}

footer > p > a{
    color: white;
}

footer > p > a:hover{
    color: red;
}